@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	border: 0;
	outline: none;
	margin: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
ul,
ol {
	list-style: none;
}
body {
	font: 14px/1.2em 'Poppins', sans-serif;
	background-color: #eef1f6;
}
button,
.btn {
	font-size: 14px;
	line-height: 1em;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
}
button,
input[type='submit'],
.btn {
	color: inherit;
	background-color: inherit;
	font-weight: 600;
	padding: 12px 16px;
}
button > i,
input[type='submit'] > i,
.btn > i {
	font-size: 14px;
}
input[type='submit'] {
	width: 100%;
}
input,
select,
textarea {
	font-size: 1em;
	padding: 4px 8px;
	border-radius: 5px;
	border: 1px solid gray;
	outline: none;
	margin-top: 2px;
}
textarea {
	resize: none;
}
img {
	object-fit: contain;
}
/* Helper Classes */
.flex {
	display: flex;
}
.circle {
	border-radius: 50%;
}
.items-center {
	align-items: center;
}
.container {
	width: min(100%, 1080px);
	margin-inline: auto;
}
/* Component Classes */
.cta,
input[type='submit'].cta {
	font: 16px/1em;
	padding: 12px 24px;
	text-transform: uppercase;
	letter-spacing: 1px;
	border-radius: 5px;
	background-color: black;
	color: white;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	transition: background-color 300ms, color 300ms, box-shadow 300ms;
}
.cta:hover,
input[type='submit'].cta:hover {
	background-color: #333333;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.dropdown {
	position: relative;
}
.dropdown > label {
	background-color: inherit;
	font-size: 14px;
	font-weight: 600;
	line-height: 1em;

	width: 100%;
	height: 100%;
	padding: 12px 16px;

	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
}
.dropdown .dropdown-toggle {
	display: none;
}
.dropdown ul {
	background-color: white;

	width: max-content;
	padding-bottom: 8px;
	border-radius: 4px;
	box-shadow: 0 0 4px 0 black;

	display: none;
	position: absolute;
	right: 0;
}
.dropdown ul li {
	padding: 20px 20px 12px;
	line-height: 1;
}
.dropdown:has(input:checked) ul {
	display: block;
}
