.container {
	max-width: 1080px;
}
body {
	padding-bottom: 100px;
}
body > .container {
	background-color: white;
}
section {
	margin-top: 20px;
}

/* Navigation */
nav {
	position: sticky;
	top: 0;
	background-color: white;
	box-shadow: 0 0 10px 0 black;
	z-index: 100;
}
nav > .container {
	padding: 12px;
	display: flex;
	justify-content: space-between;
}
.branding {
	line-height: 0;
}
.branding > img {
	width: 64px;
	height: 48px;
}
nav .dropdown:hover {
	background-color: rgba(128, 128, 128, 0.1);
}
.cart-item {
	display: flex;
	gap: 18px;
	align-items: center;
}
.checkout {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 1000;
}
/* .checkout .btn {
  min-width: max-content;
} */
.cart ul {
	translate: 45% 0;
	width: 320px;
}
.cart-item-info {
	display: flex;
	flex-direction: column;
	gap: 6px;
	font-size: 16px;
	padding-block: 8px;
}
.cart-item-info small {
	font-size: 14px;
	display: flex;
	gap: 12px;
}
.cart-item-price {
	font-weight: 800;
}
/* Header */
header {
	min-height: 480px;
	height: min(calc(700px - 20vw));
	max-height: 600px;
	display: grid;
}
header > * {
	grid-column: 1/-1;
	grid-row: 1/-1;
}
header > div {
	z-index: 1;
	align-self: center;
	text-align: center;
	margin-top: -80px;
	color: white;
}
header h1 {
	color: rgba(255, 255, 255, 0.8);
	font-size: 72px;
	line-height: 1.5;
	font-weight: 200;
}
header figure {
	position: relative;
	overflow: hidden;
}
header figure img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
header figure::after {
	content: '';
	background-image: radial-gradient(transparent, transparent, black);
	position: absolute;
	inset: 0;
}
/* Products */
.products-section h2 {
	text-align: center;
	font-size: 48px;
	text-transform: uppercase;
	padding: 32px;
}
.products-filter {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	gap: 12px;
	margin: 12px auto 24px;
	font-size: 24px;
}
.products-filter select {
	border: none;
}
.products-filter a > i {
	font-size: 12px;
}
.products-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 240px;
	gap: 12px;
	padding: 12px;
}
@media screen and (max-width: 1024px) {
	.products-list {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media screen and (max-width: 680px) {
	.products-list {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media screen and (max-width: 425px) {
	.products-list {
		grid-template-columns: 1fr;
	}
}
.products-list > * {
	background-color: lavender;
	padding: 20px;
}
.product img {
	width: 100%;
	height: 120px;
}
.product-info {
	padding-block: 16px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 8px;
}
.product-info > *:nth-child(even) {
	text-align: right;
}
.product-info > p {
	font-weight: 700;
}
.product-info > small {
	color: grey;
}
